.technicsdis{
    display: grid;
    max-width: 99%;
    grid-template-rows: 14vh 5vh 1fr; 
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "leftPanel nav" 
    "leftPanel info"
    "leftPanel table";
    gap: 20px;
    min-height: 100vh; 
    margin: 0;
}

.infodis{
    grid-area: info;
}
.button{
    height: 50%;
    width: 30%;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
}


.table{
    grid-area: table;
    background-color: white;
    border-radius: 1%;
    border-collapse: collapse;
    table-layout: fixed;
    min-height: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar {
    display: none; 
}
.table-container-technic {
    border-radius: 4%;
    max-height: 510px; 
    overflow: hidden;
    overflow-y: scroll;
}
.table tr:last-child td {
    border-bottom: none; 
}
.label{
    font-size: 32px;
    font-weight: 700;
}
.left_thdis{
    font-size: 28px;
    font-weight: 620;
    padding: 10px 0 10px 20px;
    text-align: start;
    height: 60px;
}
.left_tdDis{
    font-size: 24px;
    font-weight: 500;
    text-align: start;
    padding: 10px 0 10px 50px;
    border-top: 2px solid black;
    border-bottom: 2px solid black; 
    height: 55px;
}
.left_tdDisSmallPadding{
    font-size: 24px;
    font-weight: 500;
    text-align: start;
    padding: 10px 0 10px 0px;
    border-top: 2px solid black;
    border-bottom: 2px solid black; 
    height: 55px;
}
.statusDis{
    font-size: 24px;
    height: 0%;
    min-width: 100px;
    line-height: 45px;

}
tr {
    z-index: 1;
}
.leftVector{
    margin-left: 330px;
}
.leftVector:hover{
    cursor: pointer;
    transform: scale(1.04);
}
.status{
    height: 0%;
    min-width: 100px;
    line-height: 45px;
}
.circle {
    width: 22px;
    height: 22px;
    border-radius: 50%; 
    background-color: #ffffff;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    top:20px
}

.checkmark {
    display: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
}
.active {
    background-color: black;
}
.circle.active .checkmark {
    display: flex; 
    align-items: center;
    padding-left: 2px;
    color:white;
}
