.window{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(134, 142, 123);
}
.auth{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.buttons{
    font-family: "Montserrat", serif;
    font-weight: 300;
    margin-top: -1%;
    display: flex;
    height: 400px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vvod{
    font-family: "Montserrat", serif;
    font-weight: 300;
    width: 70%;
    height: 12%;
    margin-top: 25px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #616652;
    padding-left: 20px;
    box-sizing: border-box;
}
.vhod{
    font-family: "Montserrat", serif;
    font-weight: 500;
    margin-top: 25px;
    width: 70%;
    height: 12%;
    background-color: #364042;
    color:white;
    font-size: 22px;
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
}
.forForgottens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.small_label{
    
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 10px;
}
.text{
    font-size: 16px;
    line-height: 30px;
}
