.technicTrue{
    display: grid;
    max-width: 99%;
    grid-template-rows: 14vh 1fr; 
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "leftPanel nav" 
    "leftPanel table";
    gap: 20px;
    min-height: 100vh; 
    margin: 0;
}


.label3{
    text-align: start;
    display: flex;
    font-size: 36px;
    font-weight: 700;
    padding: 30px 30px;
}
.left_label{
    position: absolute;
    padding: 0px 700px 400px 0px;
}

.infoTechnic{
    grid-area: table;
}
.infoTechnic2{
    background-color: white;
    border-radius: 10px;
    height: 150px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.agenda{
    background-color: white;
    border-radius: 10px;
    height: 512px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.bigAnalytish{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 536px;
    margin: 20px 0;
}

.white{
    background-color: white;
    border-radius: 10px;
}
.smallAnalytish{
    width: 500px;
    background-color: white;
    border-radius: 10px;
    height: 512px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;

}
.doughutChart {
    width: 80% !important;
    height: auto !important;
    margin-left: 9%;
}
.barChart{
    display: flex;
    width: 100% !important;
    height: 50% !important;
}

.lineChart{
    width: 80% !important;
    height: 80% !important;
    margin-top: 100px;

}
.II{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    min-height: 536px;
    height: auto;
}
.labelII{
    padding: 30px 90px;
}
.IIText{
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 24px;
    padding: 10px 90px;
}
.analytish_Ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 15%;
}
.smallDate{
    display: flex;
    align-items: center;
    justify-content: start;
    line-height: 40px;
    box-shadow: none;
}
.inline{
    display: inline-block;
}
.inline::before{
    content: '•'; 
    color: black;
    margin: 0px 10px;
}
.analytish_Li{
    font-size: 20px;
    font-weight: 550;
    min-height: 50px;
}
.special{
    padding-left: 20px;
}
.kalendar{
    z-index: 1000;
    
}
.leftVectorST{
    margin-left: 150px;
}
.leftVectorST:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.table_small{
    grid-area: table;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 1%;
    border-collapse: collapse;
    table-layout: fixed;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    overflow: auto;
}
.react-calendar { 
    width: 450px;
    height: 400px;
    background-color: #fff;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}
.react-calendar__navigation button {
    color: rgb(160, 170, 147);
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
   }
.react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
   }
abbr[title] {
    text-decoration: none;
   }
.react-calendar__month-view__days__day--weekend {
    color: #d10000;
   }
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: rgb(160, 170, 147);
    border-radius: 6px;
   }
.react-calendar__tile--now {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #6f48eb;
   }
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #6f48eb;
   }
   .react-calendar__tile--hasActive:enabled:hover,
   .react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
   }
   .react-calendar__tile--active {
    background: rgb(160, 170, 147);
    border-radius: 6px;
    font-weight: bold;
    color: white;
   }
   .react-calendar__tile--active:enabled:hover,
   .react-calendar__tile--active:enabled:focus {
    background: rgb(160, 170, 147);
    color: white;
   }
   .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
   }
   .react-calendar__tile--range {
    background: #f8f8fa;
    color: #6f48eb;
    border-radius: 0;
   }
   .react-calendar__tile--rangeStart {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: rgb(160, 170, 147);
    color: white;
   }
   .react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: rgb(160, 170, 147);
    color: white;
   }