.border{
    position: relative;
    display: flex;
    margin-left: 2%;
    height: 55%;
    border: 1px solid #364042;
    border-radius: 8px;
    align-items: center;
    
}


.input{
    font-family: "Montserrat", serif;
    font-weight: 300;
    position: relative;
    display: inline-block;
    height: 86%;
    width: 80%;
    border: none;
    background-color: none;
    text-align: left;
    font-size: 20px;
    margin-left: 15px
    
}
.input:focus {
    outline: none;
}
.search{
    position: relative;
    padding-left: 15px;
    display: inline-block;
    z-index: 5;
    align-self:center;
}
