body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(243 243, 243);
}
html, body {
  height: 100%;
  margin: 0;
}
button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
#root{
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
